/* style.css */


/*Costum Font*/
@font-face {
    font-family: 'Ashley';
    src: url('Ashley.ttf') format('truetype');
}


/*Page Content Style*/
body {
    margin: 0;
    padding: 0;
    background-color: #171318;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ff4f69;
    font-size: 3rem;
    font-family: 'Ashley', Arial, sans-serif;
}


/*Splash Text Style*/
.centered-text {
    text-align: center;
    transition: opacity 1s ease;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Fade Overlay Style*/
.fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #171318;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 1;
}
