@font-face {
    font-family: 'Asley';
    src: url('Asley.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-family: 'Asley', Arial, sans-serif;
}

.centered-text {
    text-align: center;
    transition: opacity 1s ease;
}
